[submodule "external/zydis"]
	path = external/zydis
	url = https://github.com/zyantific/zydis
[submodule "external/raw_pdb"]
	path = external/raw_pdb
	url = https://github.com/MolecularMatters/raw_pdb
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/imgui_text_edit"]
	path = external/imgui_text_edit
	url = https://github.com/goossens/ImGuiColorTextEdit
